{
	"INTFNAME": "en0",
	"PORT": "6000",
	"LOCAL_AUTH_CERT_PATH": "docker_auth.crt",
	"LOCAL_ROOT_CERT_PATH": "scaledmarkets.crt",
	"FILE_REPOSITORY_ROOT": "/home/vagrant/SafeHarborServer/Repositories",
	
	"REDIS_HOST": "localhost",
	"REDIS_PORT": 6379,
	"REDIS_PASSWORD": "ahdal8934k383898&*kdu&^",
	
	"REGISTRY_HOST": "localhost",
	"REGISTRY_PORT": "5000",
	"REGISTRY_USERID": "testuser",
	"REGISTRY_PASSWORD": "testpassword",
	
	"ScanServices": {
		"clair": {
			"Host": "localhost",
			"Port": "6060"
		},
		"openscap": {
			"Host": "localhost",
			"Port": "6070"
		}
	}
}
